<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
</head>
<body>
<div class="form-group">
    <label for="upload_crowd_name" class="col-sm-2 control-label">人群名称</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="upload_crowd_name" placeholder="请输入人群名称">
    </div>
</div>
<div class="form-group">
    <label for="upload_crowd_desc" class="col-sm-2 control-label">人群说明</label>
    <div class="col-sm-10">
        <textarea class="form-control" id="upload_crowd_desc" cols="20" rows="5"></textarea>
    </div>
</div>
<div class="form-group">
    <label for="crowd_file" class="col-sm-2 control-label">上传文件</label>
    <div class="col-sm-10">
        <input type="file" accept=".xlsx" id="crowd_file">
    </div>
</div>
</body>
</html>